In [21]:
#Cell 1
import sys
print (sys.version)

3.13.5 (v3.13.5:6cb20a219a8, Jun 11 2025, 12:23:45) [Clang 16.0.0 (clang-1600.0.26.6)]

In [22]:
#basic variables
age = 25
height_cm = 175.5
name ="Ada"
print (f"{name} is {age} years old and {height_cm} cm tall." )

Ada is 25 years old and 175.5 cm tall.

In [23]:
print (type(age), type(height_cm), type(name))

<class 'int'> <class 'float'> <class 'str'>

In [ ]:
scores_list = [88, 92, 79]
scores_tuple = (88, 92, 79)
scores_list.append (95)
print(scores_list, scores_tuple)